# Virtual Environment
venv/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / dist
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

scores.json